body {
    min-height: 100vh;
    display: flex;
    flex: 1 1 auto;
    align-items: top;
}
  
h1 {
    color: white;
    font-weight: bold;
}
  
#reset-btn, #rainbow-btn, #resize-btn {
    font-weight: bold;
    border-radius: 20px;
}

.outer-div {
    height: 800px;
    width: 740px;
    background-color: rgb(192, 16, 16);
    border: 2px solid darkred;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.drawing-space {
    height: 660px;
    width: 660px;
    background-color: darkgrey;
    border: 2px solid grey;
    display: grid;
}
  
.options {
    min-width: 660px;
    margin-top: 10px;
    border: 2px solid darkred;
    background-color: brown;
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
.options-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 4px;
}
  
.options-right {
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    gap: 4px;
}
  
.grid-block {
    border: 1px solid white;
    background-color: lightgrey;
    box-sizing: border-box;
}

.grid-block-active {
    border: 1px solid white;
    background-color: grey;
    box-sizing: border-box;
}

.grid-block-rainbowstart {
    border: 1px solid rgb(58, 57, 57);
    background-color: black;
    box-sizing: border-box;
}